# Tim's Data Analysis for Congressional District Mapping

The primary purpose of this notebook is for initial data exploration by Tim Romer. This notebook will feature http requests to api's as well as trying to explore the data set.

In [2]:
# Meta-information for requesting data

CENSUS_API_KEY = '535963d4f87c22491889d73b8cc7889ee7d36465'
CURL_REQUEST = 'https://api.census.gov/data/2014/pep/natstprc.json?get=STNAME,POP&for=state:*&DATE_=7&key='+ CENSUS_API_KEY

To run this notebook, you will need to install an open source US Census Python wrapper. The link for install instructions is https://github.com/datamade/census.


This is a call to the api that will pull the population for all school districts in Ohio.

In [3]:
import census 
from us import states

c = census.Census(CENSUS_API_KEY)
oh_school_pop = c.acs5.get(('NAME', 'B01001_001E'),
                              {'for': 'school district (unified):*',
                               'in': 'state:{}'.format(states.OH.fips)})

Now, let's parse the json and put it into a pandas data frame. Here, we will change the column names to more appropriate names.

In [4]:
import pandas as pd
import numpy as np

oh_school_pop_df = pd.DataFrame(oh_school_pop)

oh_school_pop_df.rename(columns = {'B01001_001E' : 'POP', 
                                   'NAME' : 'SD', 
                                   'school district (unified)' : 'SD Code',
                                   'state' : 'State'
                                  }, 
                        inplace = True)
oh_school_pop_df

        POP                                                 SD SD Code State
0      5161  Manchester Local School District (Adams County...   00537    39
1    189180                   Akron City School District, Ohio   04348    39
2     26577          Ashtabula Area City School District, Ohio   04351    39
3     13840                 Monroe Local School District, Ohio   00094    39
4     26145                 Ashland City School District, Ohio   04350    39
5     11743               Beachwood City School District, Ohio   04355    39
6     35725                  Athens City School District, Ohio   04352    39
7     25928               Barberton City School District, Ohio   04353    39
8     15426             Bay Village City School District, Ohio   04354    39
9      9721               Bellaire Local School District, Ohio   04357    39
10     8308                  Belpre City School District, Ohio   04361    39
11    15006           Bellefontaine City School District, Ohio   04358    39
12    12429                Bellevue City School District, Ohio   04359    39
13    51904                   Berea City School District, Ohio   04360    39
14    13659                  Bexley City School District, Ohio   04362    39
15    37100           Bowling Green City School District, Ohio   04363    39
16    26901  Brecksville-Broadview Heights City School Dist...   04364    39
17    10891                Brooklyn City School District, Ohio   04365    39
18     5747              Clearview Local School District, Ohio   04813    39
19    11735               Keystone Local School District, Ohio   04816    39
20     6979               Columbia Local School District, Ohio   04814    39
21    12478              Firelands Local School District, Ohio   04815    39
22    23456               Avon Lake City School District, Ohio   04812    39
23    22538                   Avon Local School District, Ohio   04811    39
24    24226                Midview Local School District, Ohio   04817    39
25    13122  Sheffield-Sheffield Lake City School District,...   04476    39
26    28173          Anthony Wayne Local School District, Ohio   04820    39
27     4556           Ottawa Hills Local School District, Ohio   04821    39
28     5744             Allen East Local School District, Ohio   04575    39
29    12355                   Bath Local School District, Ohio   04576    39
..      ...                                                ...     ...   ...
583    6512  Western Reserve Local School District (Erie an...   04774    39
584    6744         Oak Hill Union Local School District, Ohio   04776    39
585   14664  Buckeye Local School District (Belmont, Harris...   04778    39
586   14099                 Edison Local School District, Ohio   04779    39
587   18775           Indian Creek Local School District, Ohio   04780    39
588    6436             Centerburg Local School District, Ohio   04782    39
589    3765               Danville Local School District, Ohio   04783    39
590    7683          Fredericktown Local School District, Ohio   04785    39
591    7748               Kirtland Local School District, Ohio   04787    39
592   18787  Madison Local School District (Geauga and Lake...   04788    39
593    8960    Perry Local School District (Lake County), Ohio   04790    39
594    5978          Dawson-Bryant Local School District, Ohio   04792    39
595   10315               Fairland Local School District, Ohio   04793    39
596    9484              Rock Hill Local School District, Ohio   04794    39
597   12545            South Point Local School District, Ohio   04795    39
598    4565          Symmes Valley Local School District, Ohio   04796    39
599   10760             North Fork Local School District, Ohio   04802    39
600   10396       Johnstown-Monroe Local School District, Ohio   04798    39
601   14665               Lakewood Local School District, Ohio   04799    39
602   25596        Licking Heights Local School District, Ohio   04800    39
603   11213         Licking Valley Local School District, Ohio   04801    39
604   24637      Southwest Licking Local School District, Ohio   04804    39
605   10854         Benjamin Logan Local School District, Ohio   04807    39
606   11612            Indian Lake Local School District, Ohio   04808    39
607    4253  Riverside Local School District (Logan County)...   04809    39
608    9075                Wellston City School District, Ohio   04502    39
609    4564             Wellsville Local School District, Ohio   04503    39
610   98279             Westerville City School District, Ohio   04504    39
611   27659         West Carrollton City School District, Ohio   04505    39
612   32387                Westlake City School District, Ohio   04506    39

[613 rows x 4 columns]

Now we have population data into a pandas dataframe so now we can manipulate the data. Let's verify that everything is in order.

In [5]:
oh_school_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
POP        613 non-null object
SD         613 non-null object
SD Code    613 non-null object
State      613 non-null object
dtypes: object(4)
memory usage: 19.2+ KB

The data appears to be completely there and we don't have any missing values. So now we will transform the numerical data into numerical data types and categorical data types into the categorical type.

In [6]:
oh_school_pop_df['POP'] = pd.to_numeric(oh_school_pop_df['POP'])
oh_school_pop_df['SD Code'] = pd.to_numeric(oh_school_pop_df['SD Code'])
oh_school_pop_df['State'] = pd.to_numeric(oh_school_pop_df['State'])
oh_school_pop_df['SD'] = pd.Categorical(oh_school_pop_df['SD'])

In [7]:
oh_school_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
POP        613 non-null int64
SD         613 non-null category
SD Code    613 non-null int64
State      613 non-null int64
dtypes: category(1), int64(3)
memory usage: 40.4 KB

The data is now transformed into respective numerical and categorical types.

Now let's do some data exploration.

Let's see the total population in ohio and verify that it is correct

In [8]:
sum(oh_school_pop_df['POP'])

11609756

According to google, the 2017 population is 11.66 million people so our 11.61 million people is within an acceptable margin of error.

In [9]:
oh_school_pop_df.describe()

                 POP       SD Code  State
count     613.000000    613.000000  613.0
mean    18939.243067   5145.696574   39.0
std     35187.234388   4042.284914    0.0
min         0.000000     94.000000   39.0
25%      6215.000000   4514.000000   39.0
50%     10760.000000   4716.000000   39.0
75%     19843.000000   4927.000000   39.0
max    536947.000000  99997.000000   39.0

Upon review, the school district route does not make sense because major metropolitan areas. When researching this issue and other solutions to this problem, there are some important things that need to be considered.

In order to draw congressional districts as fair as possible, we don't want to consider any demographics other than geographic information. We want to draw congressional districts as fair/compact as possible so we don't want districts that snake around just to hit a certain demographic. Here are two algorithms that we could use:
1. <strong>Shortest-Splitline</strong>
2. <strong>Forest Fire Fill</strong>

To acomplish both we need to pull county population data and get individual census block data.

In [10]:
# Getting County Data
oh_county_pop = c.acs5.get(('NAME', 'B01001_001E'),
                              {'for': 'county:*',
                               'in': 'state:{}'.format(states.OH.fips)})
oh_county_pop_df = pd.DataFrame(oh_county_pop)

oh_county_pop_df

   B01001_001E                     NAME county state
0        30203      Gallia County, Ohio    053    39
1        58497       Huron County, Ohio    077    39
2       231857    Mahoning County, Ohio    099    39
3        65563      Athens County, Ohio    009    39
4        27926       Adams County, Ohio    001    39
5        76871      Scioto County, Ohio    145    39
6       176362      Medina County, Ohio    103    39
7        23234       Meigs County, Ohio    105    39
8        54688       Union County, Ohio    159    39
9        39005   Champaign County, Ohio    021    39
10       28291        Pike County, Ohio    131    39
11       18951    Paulding County, Ohio    125    39
12      164825      Greene County, Ohio    057    39
13      808703    Hamilton County, Ohio    061    39
14     1253507    Franklin County, Ohio    049    39
15       61057    Lawrence County, Ohio    087    39
16       65483      Marion County, Ohio    101    39
17       14773      Morgan County, Ohio    115    39
18       92531  Tuscarawas County, Ohio    157    39
19      115915       Wayne County, Ohio    169    39
20       22190     Wyandot County, Ohio    175    39
21       43799       Brown County, Ohio    015    39
22      375702      Butler County, Ohio    017    39
23       75369        Erie County, Ohio    043    39
24       15397    Harrison County, Ohio    067    39
25       60945        Knox County, Ohio    083    39
26      170678     Licking County, Ohio    089    39
27      121533    Richland County, Ohio    139    39
28       13142      Vinton County, Ohio    163    39
29       27825     Carroll County, Ohio    019    39
..         ...                      ...    ...   ...
58       31576      Hardin County, Ohio    065    39
59       32624     Jackson County, Ohio    079    39
60      433404       Lucas County, Ohio    095    39
61       34935      Morrow County, Ohio    117    39
62       14498       Noble County, Ohio    121    39
63       41328      Preble County, Ohio    135    39
64       55549      Seneca County, Ohio    147    39
65      374273       Stark County, Ohio    151    39
66      104157       Allen County, Ohio    003    39
67       36602   Coshocton County, Ohio    031    39
68       42231    Crawford County, Ohio    033    39
69      193024    Delaware County, Ohio    041    39
70       93895      Geauga County, Ohio    055    39
71       39414    Guernsey County, Ohio    059    39
72       28547     Hocking County, Ohio    073    39
73      229701        Lake County, Ohio    085    39
74       40723      Mercer County, Ohio    107    39
75       77125        Ross County, Ohio    141    39
76      135520       Clark County, Ohio    023    39
77     1257401    Cuyahoga County, Ohio    035    39
78       43808      Holmes County, Ohio    075    39
79      305405      Lorain County, Ohio    093    39
80      104081       Miami County, Ohio    109    39
81       14239      Monroe County, Ohio    111    39
82      531987  Montgomery County, Ohio    113    39
83      203341    Trumbull County, Ohio    155    39
84      223868      Warren County, Ohio    165    39
85      129504        Wood County, Ohio    173    39
86       53299     Ashland County, Ohio    005    39
87       98622   Ashtabula County, Ohio    007    39

[88 rows x 4 columns]

In [14]:
# Getting Census Block data
oh_block_pop = c.acs5.get(('NAME', 'B01001_001E'),
                              {'for': 'tract:*',
                               'in': 'state:{}'.format(states.OH.fips)})
oh_block_pop_df = pd.DataFrame(oh_block_pop)

oh_block_pop_df

,B01001_001E,NAME,county,state,tract
0,4026,"Census Tract 9737, Athens County, Ohio",009,39,973700
1,4932,"Census Tract 9738, Athens County, Ohio",009,39,973800
2,4055,"Census Tract 9727, Athens County, Ohio",009,39,972700
3,3939,"Census Tract 9736, Athens County, Ohio",009,39,973600
4,4357,"Census Tract 9726, Athens County, Ohio",009,39,972600
5,3640,"Census Tract 9733, Athens County, Ohio",009,39,973300
6,5672,"Census Tract 9729, Athens County, Ohio",009,39,972900
7,5168,"Census Tract 9732, Athens County, Ohio",009,39,973200
8,3749,"Census Tract 78.11, Franklin County, Ohio",049,39,007811
9,4072,"Census Tract 26, Franklin County, Ohio",049,39,002600
10,1955,"Census Tract 28, Franklin County, Ohio",049,39,002800
11,5214,"Census Tract 49, Franklin County, Ohio",049,39,004900
12,4658,"Census Tract 55, Franklin County, Ohio",049,39,005500
13,6019,"Census Tract 69.33, Franklin County, Ohio",049,39,006933
14,5816,"Census Tract 69.45, Franklin County, Ohio",049,39,006945
15,5384,"Census Tract 71.13, Franklin County, Ohio",049,39,007113
16,5818,"Census Tract 71.15, Franklin County, Ohio",049,39,007115
17,5116,"Census Tract 71.14, Franklin County, Ohio",049,39,007114
18,4162,"Census Tract 75.12, Franklin County, Ohio",049,39,007512
19,3531,"Census Tract 2.10, Franklin County, Ohio",049,39,000210
20,2070,"Census Tract 87.30, Franklin County, Ohio",049,39,008730
21,4621,"Census Tract 88.22, Franklin County, Ohio",049,39,008822
22,5105,"Census Tract 95.90, Franklin County, Ohio",049,39,009590
23,5784,"Census Tract 97.51, Franklin County, Ohio",049,39,009751
24,2980,"Census Tract 74.25, Franklin County, Ohio",049,39,007425
25,6125,"Census Tract 74.92, Franklin County, Ohio",049,39,007492
26,2067,"Census Tract 75.33, Franklin County, Ohio",049,39,007533
27,7790,"Census Tract 83.70, Franklin County, Ohio",049,39,008370
28,1802,"Census Tract 88.11, Franklin County, Ohio",049,39,008811
29,1683,"Census Tract 16, Franklin County, Ohio",049,39,001600
...,...,...,...,...,...
2922,2445,"Census Tract 7112.12, Stark County, Ohio",151,39,711212
2923,7162,"Census Tract 7112.11, Stark County, Ohio",151,39,711211
2924,4436,"Census Tract 7114.12, Stark County, Ohio",151,39,711412
2925,4726,"Census Tract 7111.11, Stark County, Ohio",151,39,711111
2926,3804,"Census Tract 7114.11, Stark County, Ohio",151,39,711411
2927,2867,"Census Tract 7150, Stark County, Ohio",151,39,715000
2928,4005,"Census Tract 1962, Cuyahoga County, Ohio",035,39,196200
2929,3946,"Census Tract 26.05, Clark County, Ohio",023,39,002605
2930,7252,"Census Tract 26.06, Clark County, Ohio",023,39,002606
2931,5522,"Census Tract 404.05, Montgomery County, Ohio",113,39,040405
2932,6426,"Census Tract 505.03, Montgomery County, Ohio",113,39,050503
2933,2351,"Census Tract 1651, Montgomery County, Ohio",113,39,165100
2934,3808,"Census Tract 15.01, Montgomery County, Ohio",113,39,001501
2935,7358,"Census Tract 150, Butler County, Ohio",017,39,015000
2936,7425,"Census Tract 151, Butler County, Ohio",017,39,015100
2937,3336,"Census Tract 9739.02, Athens County, Ohio",009,39,973902
2938,2958,"Census Tract 1077.01, Cuyahoga County, Ohio",035,39,107701
2939,3220,"Census Tract 1964, Cuyahoga County, Ohio",035,39,196400
2940,3092,"Census Tract 1036.02, Cuyahoga County, Ohio",035,39,103602
2941,1070,"Census Tract 1093.01, Cuyahoga County, Ohio",035,39,109301
2942,2406,"Census Tract 1097.01, Cuyahoga County, Ohio",035,39,109701
2943,0,"Census Tract 9900, Lucas County, Ohio",095,39,990000
2944,7949,"Census Tract 5327.01, Summit County, Ohio",153,39,532701
2945,1802,"Census Tract 5090, Summit County, Ohio",153,39,509000
2946,4902,"Census Tract 5201.04, Summit County, Ohio",153,39,520104
2947,4044,"Census Tract 5201.05, Summit County, Ohio",153,39,520105
2948,2657,"Census Tract 5201.06, Summit County, Ohio",153,39,520106
2949,2171,"Census Tract 8109, Mahoning County, Ohio",099,39,810900
2950,4461,"Census Tract 9728, Athens County, Ohio",009,39,972800
2951,4504,"Census Tract 9731.01, Athens County, Ohio",009,39,973101

According to wikipedia, a census tract is the smallest geographical unit for population data.