# Tim's Data Analysis for Congressional District Mapping

The primary purpose of this notebook is for initial data exploration by Tim Romer. This notebook will feature http requests to api's as well as trying to explore the data set.

In [31]:
# Meta-information for requesting data

CENSUS_API_KEY = '535963d4f87c22491889d73b8cc7889ee7d36465'
CURL_REQUEST = 'https://api.census.gov/data/2014/pep/natstprc.json?get=STNAME,POP&for=state:*&DATE_=7&key='+ CENSUS_API_KEY

To run this notebook, you will need to install an open source US Census Python wrapper. The link for install instructions is https://github.com/datamade/census.


This is a call to the api that will pull the population for all school districts in Ohio.

In [32]:
import census 
from us import states

c = census.Census(CENSUS_API_KEY)
oh_school_pop = c.acs5.get(('NAME', 'B01001_001E'),
                              {'for': 'school district (unified):*',
                               'in': 'state:{}'.format(states.OH.fips)})

Now, let's parse the json and put it into a pandas data frame. Here, we will change the column names to more appropriate names.

In [33]:
import pandas as pd
import numpy as np

oh_school_pop_df = pd.DataFrame(oh_school_pop)

oh_school_pop_df.rename(columns = {'B01001_001E' : 'POP', 
                                   'NAME' : 'SD', 
                                   'school district (unified)' : 'SD Code',
                                   'state' : 'State'
                                  }, 
                        inplace = True)
oh_school_pop_df

        POP                                                 SD SD Code State
0      5161  Manchester Local School District (Adams County...   00537    39
1    189180                   Akron City School District, Ohio   04348    39
2     26577          Ashtabula Area City School District, Ohio   04351    39
3     13840                 Monroe Local School District, Ohio   00094    39
4     26145                 Ashland City School District, Ohio   04350    39
5     11743               Beachwood City School District, Ohio   04355    39
6     35725                  Athens City School District, Ohio   04352    39
7     25928               Barberton City School District, Ohio   04353    39
8     15426             Bay Village City School District, Ohio   04354    39
9      9721               Bellaire Local School District, Ohio   04357    39
10     8308                  Belpre City School District, Ohio   04361    39
11    15006           Bellefontaine City School District, Ohio   04358    39
12    12429                Bellevue City School District, Ohio   04359    39
13    51904                   Berea City School District, Ohio   04360    39
14    13659                  Bexley City School District, Ohio   04362    39
15    37100           Bowling Green City School District, Ohio   04363    39
16    26901  Brecksville-Broadview Heights City School Dist...   04364    39
17    10891                Brooklyn City School District, Ohio   04365    39
18     5747              Clearview Local School District, Ohio   04813    39
19    11735               Keystone Local School District, Ohio   04816    39
20     6979               Columbia Local School District, Ohio   04814    39
21    12478              Firelands Local School District, Ohio   04815    39
22    23456               Avon Lake City School District, Ohio   04812    39
23    22538                   Avon Local School District, Ohio   04811    39
24    24226                Midview Local School District, Ohio   04817    39
25    13122  Sheffield-Sheffield Lake City School District,...   04476    39
26    28173          Anthony Wayne Local School District, Ohio   04820    39
27     4556           Ottawa Hills Local School District, Ohio   04821    39
28     5744             Allen East Local School District, Ohio   04575    39
29    12355                   Bath Local School District, Ohio   04576    39
..      ...                                                ...     ...   ...
583    6512  Western Reserve Local School District (Erie an...   04774    39
584    6744         Oak Hill Union Local School District, Ohio   04776    39
585   14664  Buckeye Local School District (Belmont, Harris...   04778    39
586   14099                 Edison Local School District, Ohio   04779    39
587   18775           Indian Creek Local School District, Ohio   04780    39
588    6436             Centerburg Local School District, Ohio   04782    39
589    3765               Danville Local School District, Ohio   04783    39
590    7683          Fredericktown Local School District, Ohio   04785    39
591    7748               Kirtland Local School District, Ohio   04787    39
592   18787  Madison Local School District (Geauga and Lake...   04788    39
593    8960    Perry Local School District (Lake County), Ohio   04790    39
594    5978          Dawson-Bryant Local School District, Ohio   04792    39
595   10315               Fairland Local School District, Ohio   04793    39
596    9484              Rock Hill Local School District, Ohio   04794    39
597   12545            South Point Local School District, Ohio   04795    39
598    4565          Symmes Valley Local School District, Ohio   04796    39
599   10760             North Fork Local School District, Ohio   04802    39
600   10396       Johnstown-Monroe Local School District, Ohio   04798    39
601   14665               Lakewood Local School District, Ohio   04799    39
602   25596        Licking Heights Local School District, Ohio   04800    39
603   11213         Licking Valley Local School District, Ohio   04801    39
604   24637      Southwest Licking Local School District, Ohio   04804    39
605   10854         Benjamin Logan Local School District, Ohio   04807    39
606   11612            Indian Lake Local School District, Ohio   04808    39
607    4253  Riverside Local School District (Logan County)...   04809    39
608    9075                Wellston City School District, Ohio   04502    39
609    4564             Wellsville Local School District, Ohio   04503    39
610   98279             Westerville City School District, Ohio   04504    39
611   27659         West Carrollton City School District, Ohio   04505    39
612   32387                Westlake City School District, Ohio   04506    39

[613 rows x 4 columns]

Now we have population data into a pandas dataframe so now we can manipulate the data. Let's verify that everything is in order.

In [34]:
oh_school_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
POP        613 non-null object
SD         613 non-null object
SD Code    613 non-null object
State      613 non-null object
dtypes: object(4)
memory usage: 19.2+ KB

The data appears to be completely there and we don't have any missing values. So now we will transform the numerical data into numerical data types and categorical data types into the categorical type.

In [35]:
oh_school_pop_df['POP'] = pd.to_numeric(oh_school_pop_df['POP'])
oh_school_pop_df['SD Code'] = pd.to_numeric(oh_school_pop_df['SD Code'])
oh_school_pop_df['State'] = pd.to_numeric(oh_school_pop_df['State'])
oh_school_pop_df['SD'] = pd.Categorical(oh_school_pop_df['SD'])

In [36]:
oh_school_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
POP        613 non-null int64
SD         613 non-null category
SD Code    613 non-null int64
State      613 non-null int64
dtypes: category(1), int64(3)
memory usage: 40.4 KB

The data is now transformed into respective numerical and categorical types.

Now let's do some data exploration.

Let's see the total population in ohio and verify that it is correct

In [30]:
sum(oh_school_pop_df['POP'])

11609756

According to google, the 2017 population is 11.66 million people so our 11.61 million people is within an acceptable margin of error.

In [37]:
oh_school_pop_df.describe()

                 POP       SD Code  State
count     613.000000    613.000000  613.0
mean    18939.243067   5145.696574   39.0
std     35187.234388   4042.284914    0.0
min         0.000000     94.000000   39.0
25%      6215.000000   4514.000000   39.0
50%     10760.000000   4716.000000   39.0
75%     19843.000000   4927.000000   39.0
max    536947.000000  99997.000000   39.0

Upon review, the school district route does not make sense because major metropolitan areas. When researching this issue and other solutions to this problem, there are some important things that need to be considered.

In order to draw congressional districts as fair as possible, we don't want to consider any demographics other than geographic information. We want to draw congressional districts as fair/compact as possible so we don't want districts that snake around just to hit a certain demographic. Here are two algorithms that we could use:
1. <strong>Shortest-Splitline</strong>
2. <strong>Forest Fire Fill</strong>

To acomplish both we need to pull county population data and get individual census block data.